In [94]:
#import library untuk membuat data interference 
import pandas as pd
import numpy as np
import pickle
import json
from sklearn import *

#### **Memuat model Pickle**

In [112]:
with open('list_num_cols.txt', 'r') as file_1:
  num_col = json.load(file_1)

with open('list_ordinal_cols.txt', 'r') as file_2:
  cat_col = json.load(file_2)

with open('best_models_knc.pkl', 'rb') as file_3:
  knc_model = pickle.load(file_3)

with open('scaler.pkl', 'rb') as file_4:
  model_scaler = pickle.load(file_4)

with open('encoder.pkl', 'rb') as file_5:
  model_encoder = pickle.load(file_5)

with open('best_models_svc.pkl', 'rb') as file_6:
  svc_model = pickle.load(file_6)

with open('best_models_logreg.pkl', 'rb') as file_7:
  logreg_model = pickle.load(file_7)

#### **Memuat Data Interference**

In [139]:
data_interference1 = {
    "limit_balance"  :               90000.0,
    "pay_amt_1"      :                3400.0,
    "pay_amt_2"      :                2700.0,
    "pay_amt_3"      :                1110.0,
    "pay_amt_4"      :                2500.0,
    "pay_amt_5"      :                 570.0,
    "pay_amt_6"      :                 370.0,
    "education_level":                   4.0,
    "pay_0"          :                   0.0,
    "pay_2"          :                   0.0,
    "pay_3"          :                   0.0,
    "pay_4"          :                   -1.0,
    "pay_5"          :                   0.0,
    "pay_6"          :                   -1.0,
    "bill_amt_1"     :               62000.0,
    "bill_amt_2"     :               61812.0,
    "bill_amt_3"     :               65000.0,
    "bill_amt_4"     :               35000.0,
    "bill_amt_5"     :               32510.0,
    "bill_amt_6"     :               12901.0,
}

data_interference2 = {
    "limit_balance"  :               35000.0,
    "pay_amt_1"      :                3321.0,
    "pay_amt_2"      :                2324.0,
    "pay_amt_3"      :                1231.0,
    "pay_amt_4"      :                2432.0,
    "pay_amt_5"      :                 531.0,
    "pay_amt_6"      :                 323.0,
    "education_level":                   2.0,
    "pay_0"          :                   1.0,
    "pay_2"          :                   -1.0,
    "pay_3"          :                   0.0,
    "pay_4"          :                   -1.0,
    "pay_5"          :                   0.0,
    "pay_6"          :                   -1.0,
    "bill_amt_1"     :               62500.0,
    "bill_amt_2"     :               64000.0,
    "bill_amt_3"     :               61202.0,
    "bill_amt_4"     :               35121.0,
    "bill_amt_5"     :               33132.0,
    "bill_amt_6"     :               11231.0,
}

data_interference3 = {
    "limit_balance"  :               70000.0,
    "pay_amt_1"      :                3442.0,
    "pay_amt_2"      :                2321.0,
    "pay_amt_3"      :                1545.0,
    "pay_amt_4"      :                2767.0,
    "pay_amt_5"      :                 523.0,
    "pay_amt_6"      :                 343.0,
    "education_level":                   3.0,
    "pay_0"          :                   0.0,
    "pay_2"          :                   1.0,
    "pay_3"          :                   0.0,
    "pay_4"          :                   -1.0,
    "pay_5"          :                   0.0,
    "pay_6"          :                   -1.0,
    "bill_amt_1"     :               62321.0,
    "bill_amt_2"     :               61312.0,
    "bill_amt_3"     :               65323.0,
    "bill_amt_4"     :               33132.0,
    "bill_amt_5"     :               33123.0,
    "bill_amt_6"     :               13132.0,
}

data_interference4 = {
    "limit_balance"  :               72000.0,
    "pay_amt_1"      :                4400.0,
    "pay_amt_2"      :                3700.0,
    "pay_amt_3"      :                2110.0,
    "pay_amt_4"      :                1500.0,
    "pay_amt_5"      :                 670.0,
    "pay_amt_6"      :                 270.0,
    "education_level":                   5.0,
    "pay_0"          :                   0.0,
    "pay_2"          :                   0.0,
    "pay_3"          :                   0.0,
    "pay_4"          :                   0.0,
    "pay_5"          :                   0.0,
    "pay_6"          :                   -1.0
}
data_interference5 = {
    "limit_balance"  :               100000.0,
    "pay_amt_1"      :                6400.0,
    "pay_amt_2"      :                4700.0,
    "pay_amt_3"      :                3110.0,
    "pay_amt_4"      :                1500.0,
    "pay_amt_5"      :                 450.0,
    "pay_amt_6"      :                 270.0,
    "education_level":                   2.0,
    "pay_0"          :                   1.0,
    "pay_2"          :                   1.0,
    "pay_3"          :                   0.0,
    "pay_4"          :                   -1.0,
    "pay_5"          :                   -2.0,
    "pay_6"          :                   -1.0
}

data_interference6 = {
    "limit_balance"  :               200000.0,
    "pay_amt_1"      :                5400.0,
    "pay_amt_2"      :                3700.0,
    "pay_amt_3"      :                2110.0,
    "pay_amt_4"      :                1000.0,
    "pay_amt_5"      :                 250.0,
    "pay_amt_6"      :                 70.0,
    "education_level":                   6.0,
    "pay_0"          :                   0.0,
    "pay_2"          :                   0.0,
    "pay_3"          :                   0.0,
    "pay_4"          :                   0.0,
    "pay_5"          :                   0.0,
    "pay_6"          :                   0.0
}

data_interference7 = {
    "limit_balance"  :               150000.0,
    "pay_amt_1"      :              155400.0,
    "pay_amt_2"      :              113700.0,
    "pay_amt_3"      :              102110.0,
    "pay_amt_4"      :                1000.0,
    "pay_amt_5"      :               43250.0,
    "pay_amt_6"      :                  70.0,
    "education_level":                   6.0,
    "pay_0"          :                   0.0,
    "pay_2"          :                   0.0,
    "pay_3"          :                   0.0,
    "pay_4"          :                   -1.0,
    "pay_5"          :                   0.0,
    "pay_6"          :                   0.0
}

data_interference8 = {
    "limit_balance"  :               150000.0,
    "pay_amt_1"      :              155400.0,
    "pay_amt_2"      :              113700.0,
    "pay_amt_3"      :              102110.0,
    "pay_amt_4"      :               10000.0,
    "pay_amt_5"      :               43250.0,
    "pay_amt_6"      :                 370.0,
    "education_level":                   6.0,
    "pay_0"          :                   1.0,
    "pay_2"          :                   1.0,
    "pay_3"          :                   2.0,
    "pay_4"          :                   1.0,
    "pay_5"          :                   2.0,
    "pay_6"          :                   1.0
}

data_inf = pd.DataFrame([data_interference1, data_interference2, data_interference3, data_interference4, data_interference5, data_interference6, data_interference7, data_interference8])
data_inf

,limit_balance,pay_amt_1,pay_amt_2,pay_amt_3,pay_amt_4,pay_amt_5,pay_amt_6,education_level,pay_0,pay_2,pay_3,pay_4,pay_5,pay_6,bill_amt_1,bill_amt_2,bill_amt_3,bill_amt_4,bill_amt_5,bill_amt_6
0,90000.0,3400.0,2700.0,1110.0,2500.0,570.0,370.0,4.0,0.0,0.0,0.0,-1.0,0.0,-1.0,62000.0,61812.0,65000.0,35000.0,32510.0,12901.0
1,35000.0,3321.0,2324.0,1231.0,2432.0,531.0,323.0,2.0,1.0,-1.0,0.0,-1.0,0.0,-1.0,62500.0,64000.0,61202.0,35121.0,33132.0,11231.0
2,70000.0,3442.0,2321.0,1545.0,2767.0,523.0,343.0,3.0,0.0,1.0,0.0,-1.0,0.0,-1.0,62321.0,61312.0,65323.0,33132.0,33123.0,13132.0
3,72000.0,4400.0,3700.0,2110.0,1500.0,670.0,270.0,5.0,0.0,0.0,0.0,0.0,0.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN
4,100000.0,6400.0,4700.0,3110.0,1500.0,450.0,270.0,2.0,1.0,1.0,0.0,-1.0,-2.0,-1.0,NaN,NaN,NaN,NaN,NaN,NaN
5,200000.0,5400.0,3700.0,2110.0,1000.0,250.0,70.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
6,150000.0,155400.0,113700.0,102110.0,1000.0,43250.0,70.0,6.0,0.0,0.0,0.0,-1.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
7,150000.0,155400.0,113700.0,102110.0,10000.0,43250.0,370.0,6.0,1.0,1.0,2.0,1.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
#predict using linear reg model

y_pred_inf = knc_model.predict(data_inf)
y_pred_inf= pd.DataFrame(y_pred_inf)
y_pred_inf.rename(columns={0: 'Prediction Result on Default Payment Next Month'}, inplace=True)
y_pred_inf

   Prediction Result on Default Payment Next Month
0                                                0
1                                                0
2                                                0
3                                                0
4                                                0
5                                                0
6                                                0
7                                                0

In [141]:
#predict using linear reg model

y_pred_inf = svc_model.predict(data_inf)
y_pred_inf= pd.DataFrame(y_pred_inf)
y_pred_inf.rename(columns={0: 'Prediction Result on Default Payment Next Month'}, inplace=True)
y_pred_inf

   Prediction Result on Default Payment Next Month
0                                                0
1                                                0
2                                                0
3                                                0
4                                                0
5                                                0
6                                                0
7                                                0

In [143]:
#predict using linear reg model

y_pred_inf = logreg_model.predict(data_inf)
y_pred_inf= pd.DataFrame(y_pred_inf)
y_pred_inf.rename(columns={0: 'Prediction Result on Default Payment Next Month'}, inplace=True)
y_pred_inf

   Prediction Result on Default Payment Next Month
0                                                0
1                                                0
2                                                0
3                                                0
4                                                0
5                                                0
6                                                0
7                                                0